ocpn-plugins.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="ocpn-plugin.xsd"/>

<xs:element name="plugins">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="date" type="xs:string"/>
      <xs:element ref="plugin" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
